$primary-color: black;
$background-color: #fff;
$border-color: #ccc;
$btn-color: black;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$mark-icon-size-default: 2rem;
$mark-icon-size-xl: 2.4rem;
$mark-icon-size-lg: 2.2rem;
$mark-icon-size-md: 1.7rem;
$mark-icon-size-sm: 1.3rem;
$mark-icon-bg-color: grey;
$mark-icon-active-bg-color: rgba(56, 56, 235, 0.802);
$nav-color: #d9d9d9;
$nav-color-active: black;
$pulse-animation-duration: 2s;
$fade-in-duration: 0.5s;
$border-radius: 50%;
$padding: 5px;

@mixin pulse {
  animation: pulse $pulse-animation-duration infinite;
}

@mixin fade-in {
  animation: fadeIn $fade-in-duration;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: calc(200px + 100%);
  }
}

@keyframes close-effect {
  0% {
    border-radius: 0 0 0 30px;
    padding: 5px;
  }
  100% {
    border-radius: 0 0 0 0;
    padding: 10px;
  }
}

@keyframes fillChange {
  from {
    fill: $nav-color;
  }
  to {
    fill: $nav-color-active;
  }
}



a {
  text-decoration: none;
}

.img-container {
  position: relative;
  width: 100%;

  &.full-width {
    width: 100%;
  }
}

p {
  margin-top: none!important;
}

.marks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $nav-color;
  margin: 0 5px;
}

.marks {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;

  .mark-icon {
    width: $mark-icon-size-default;
    height: $mark-icon-size-default;
    color: black;
    border-radius: $border-radius;
    background-color: $mark-icon-bg-color;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }

    &.active {
      animation: none;
      background-color: $mark-icon-active-bg-color;
    }

    &.number {
      padding: 10px;
    }
  }
}

.marker {
  color: black;
  border-radius: $border-radius;
  background-color: $mark-icon-bg-color;
  display: flex !important;
  align-items: center;
  justify-content: center;

  &.--box {
    width: $mark-icon-size-md;
    height: $mark-icon-size-md;
  }
}

// Shared styles for popover and info-box
.content-box {
  display: block;
  background: $background-color;
  border-radius: 0;
  box-shadow: 0 2px 12px 6px hsla(0, 0%, 87%, .5);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;

  &.popover {
    position: absolute;
    display: none;
    left: 200%;
    top: 0;
    cursor: auto;
    min-height: 10rem;
    max-height: auto;
    min-width: 25rem;
    border: 1px solid $border-color;
    margin-top: 0.2rem;

    &.active {
      display: block;
      @include fade-in;
    }

    .popover-close {
      position: absolute;
      right: 0px;
      cursor: pointer;
      z-index: 10;
      border-radius: 0 0 0 30px;
      padding: 5px;
      transition: transform 0.2s ease-in-out;

      svg > path {
        fill: $primary-color;
      }
    }
  }

  .content-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 4px;
  }

  .content-link {
    width: auto;
    height: auto;
    background-color: $primary-color;
    padding: 0.7em;
    color: white;
    border-radius: 0;
    border-color: $primary-color;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-size: 200% auto;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      background-image: linear-gradient(
        90deg,
        $primary-color 0%,
        lighten($primary-color, 10%) 30%,
        $primary-color 100%
      );
      animation: shine 0.5s forwards;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    .nav-prev,
    .nav-next {
      cursor: pointer;
      transition: transform 0.2s ease-in-out, fill 0.3s ease-in-out;

      path {
        fill: $nav-color;
        transition: fill 0.3s ease-in-out;
      }

      &:hover {
        transform: scale(1.3);

        path {
          animation: fillChange 0.3s forwards;
        }
      }

      &:not(:hover) {
        transform: scale(1);
      }
    }
  }
}

.info-item {
  display: none;

  &.active {
    display: block;
    padding: 0.5rem;
    @include fade-in;
  }
}

@media (min-width: 992px) {
  .content-box {
    margin-top: 0;
  }
}

@media (max-width: 991.98px) {
  .mark-icon {
    width: $mark-icon-size-lg;
    height: $mark-icon-size-lg;

    &.number {
      font-size: 1.5rem;
    }

    &.icon {
      padding: 5px;
    }
  }

  .img-container {
    width: 100%;
  }

  .content-box {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767.98px) {
  .mark-icon {
    width: $mark-icon-size-md;
    height: $mark-icon-size-md;

    &.number {
      font-size: 1rem;
    }

    &.icon {
      padding: 10px;
    }
  }

  .img-container {
    width: 100%;
  }

  .content-box {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .mark-icon {
    width: $mark-icon-size-sm;
    height: $mark-icon-size-sm;

    &.number {
      font-size: 0.8rem;
    }

    &.icon {
      padding: 15px;
    }
  }

  .img-container {
    width: 100%;
  }

  .content-box {
    width: 100%;
  }
}
