<div class="content-box info-box">
    <f:for each="{interactiveImage.txVncinteractiveimageMarks}" as="mark">
        <div class="info-item" id="info-{mark.uid}">
            <div class="d-flex align-items-center">
                <f:render partial="MarkIcon"
                    arguments="{interactiveImage: interactiveImage, mark: mark, iterator: iterator}" />
                <span class="col-auto mx-4 fw-bold">{mark.title}</span>
            </div>
            <div class="mt-3">
                <f:image class="content-img" image="{mark.image}" />
            </div>
            <div class="mt-2">
                <p class="info-body">
                    <f:format.raw>{mark.bodytext}</f:format.raw>
                </p>
            </div>
            <div class="mt-4">
                <a class="content-link" href="{mark.link}">Mehr erfahren</a>
            </div>
            <div class="mt-4">
                <f:render partial="InfoboxNav" arguments="{interactiveImage: interactiveImage, mark:mark}" />
            </div>
        </div>
    </f:for>
</div>
