<f:if condition="{interactiveImage.txVncinteractiveimageIconMode} === 'same'">
    <f:then>
        <f:if condition="{interactiveImage.txVncinteractiveimageIconSelection} === 'upload'">
            <f:then>
                <f:if condition="{interactiveImage.txVncinteractiveimageIcon}">
                    <f:image class="mark-icon {f:if(condition: context, then: 'mark-icon--no-hover')}" data-uid="{mark.uid}" image="{interactiveImage.txVncinteractiveimageIcon}" alt="{mark.title}" aria-label="{mark.title}" />
                </f:if>
            </f:then>
        </f:if>
        <f:if condition="{interactiveImage.txVncinteractiveimageIconSelection} === 'formelement'">
            <f:then>
                <f:if condition="{interactiveImage.txVncinteractiveimageIconFormelement}">
                    <i class="mark-icon {f:if(condition: context, then: 'mark-icon--no-hover')} {interactiveImage.txVncinteractiveimageIconFormelement}" data-uid="{mark.uid}"></i>
                </f:if>
            </f:then>
        </f:if>
    </f:then>
</f:if>
<f:if condition="{interactiveImage.txVncinteractiveimageIconMode} === 'different'">
    <f:then>
        <f:if condition="{mark.iconSelection} === 'upload'">
            <f:then>
                <f:if condition="{mark.icon}">
                    <f:image class="mark-icon {f:if(condition: context, then: 'mark-icon--no-hover')}" data-uid="{mark.uid}" image="{mark.icon}" alt="{mark.title}" aria-label="{mark.title}" />
                </f:if>
            </f:then>
        </f:if>
        <f:if condition="{mark.iconSelection} === 'formelement'">
            <f:then>
                <f:if condition="{mark.iconFormelement}">
                    <i class="mark-icon {f:if(condition: context, then: 'mark-icon--no-hover')} {mark.iconFormelement}" data-uid="{mark.uid}"></i>
                </f:if>
            </f:then>
        </f:if>
    </f:then>
</f:if>
<f:if condition="{interactiveImage.txVncinteractiveimageIconMode} === 'numbers'">
    <f:then>
        <p class="mark-icon mark-icon--number {f:if(condition: context, then: 'mark-icon--no-hover')}" data-uid="{mark.uid}" aria-label="{mark.title}">
            {iterator.cycle}
        </p>
    </f:then>
</f:if>
