<f:if condition="{interactiveImage.txVncinteractiveimageIconMode} === 'same'">
    <f:then>
        <div class="mark-icon" data-uid="{mark.uid}" aria-label="{mark.title}">
            <f:if condition="{interactiveImage.txVncinteractiveimageIcon}">
                <f:image class="mark-icon-image" image="{interactiveImage.txVncinteractiveimageIcon}" alt="{mark.title}"
                    aria-label="{mark.title}" />
            </f:if>
            <f:if condition="{interactiveImage.txVncinteractiveimageIconFormelement}">
                <i class="{interactiveImage.txVncinteractiveimageIconFormelement}"></i>
            </f:if>
        </div>
    </f:then>
</f:if>
<f:if condition="{interactiveImage.txVncinteractiveimageIconMode} === 'different'">
    <f:then>
        <div class="mark-icon" data-uid="{mark.uid}" aria-label="{mark.title}">
            <f:if condition="{mark.iconFormelement}">
                <i class="{mark.iconFormelement}"></i>
            </f:if>
            <f:if condition="{mark.icon}">
                <f:image class="mark-icon-image" image="{mark.icon}" alt="{mark.title}" aria-label="{mark.title}" />
            </f:if>
        </div>
    </f:then>
</f:if>
<f:if condition="{interactiveImage.txVncinteractiveimageIconMode} === 'numbers'">
    <f:then>
        <div class="mark-icon-image number" data-uid="{mark.uid}" aria-label="{mark.title}">
            {iterator.cycle}
        </div>
    </f:then>
</f:if>