<div class="marks-container">
    <f:for each="{interactiveImage.txVncinteractiveimageMarks}" as="mark" iteration="iterator">
        <div class="mark" data-selection="{interactiveImage.txVncinteractiveimageIconSelection}" style="left: {mark.positionX}%; top: {mark.positionY}%;">
            <!-- Render Mark Icon -->
            <div>
                <f:render partial="MarkIcon" arguments="{interactiveImage: interactiveImage, mark: mark, iterator: iterator}" />
                <f:if condition="{interactiveImage.txVncinteractiveimageShowTitleNextToMarker}">
                    <div class="mark-title" data-position="{mark.titlePosition}">
                        <f:format.raw>{mark.title}</f:format.raw>
                    </div>
                </f:if>
            </div>
            <f:if condition="{layout} === 'popover'">
                <f:then>
                    <f:render partial="Popover" arguments="{interactiveImage: interactiveImage, mark: mark, iterator: iterator}" />
                </f:then>
            </f:if>
        </div>
    </f:for>
</div>
