<div class="marks-container">
    <f:for each="{interactiveImage.txVncinteractiveimageMarks}" as="mark" iteration="iterator">
        <div class="marks" data-selection="{interactiveImage.txVncinteractiveimageIconSelection}"
             style="left: {mark.positionX * 100}%; top: {mark.positionY * 100}%;">
            <!-- Render Mark Icon -->
            <f:render partial="MarkIcon" arguments="{interactiveImage: interactiveImage, mark: mark, iterator: iterator}" />
            <f:if condition="{layout} === 'popover'">
                <f:then>
                    <div class="popover variant" data-variant="information-box" id="popover-{mark.uid}">
                        <h4 class="h4">{mark.title}</h4>
                        <p class="popover-body">
                            <f:format.raw>{mark.bodytext}</f:format.raw>
                        </p>
                    </div>
                </f:then>
            </f:if>
        </div>
    </f:for>
</div>
