@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shine {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: calc(200px + 100%);
  }
}
@keyframes close-effect {
  0% {
    border-radius: 0 0 0 30px;
    padding: 5px;
  }
  100% {
    border-radius: 0 0 0 0;
    padding: 10px;
  }
}
@keyframes fillChange {
  from {
    fill: #d9d9d9;
  }
  to {
    fill: black;
  }
}
a {
  text-decoration: none;
}

.img-container {
  position: relative;
  width: 100%;
}
.img-container.full-width {
  width: 100%;
}

p {
  margin-top: none !important;
}

.marks-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav-point {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 5px;
}

.marks {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.marks .mark-icon {
  width: 2rem;
  height: 2rem;
  color: black;
  border-radius: 50%;
  background-color: grey;
  display: flex !important;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
.marks .mark-icon:hover {
  transform: scale(1.2);
}
.marks .mark-icon.active {
  animation: none;
  background-color: rgba(56, 56, 235, 0.802);
}
.marks .mark-icon.number {
  padding: 10px;
}

.marker {
  color: black;
  border-radius: 50%;
  background-color: grey;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.marker.--box {
  width: 1.7rem;
  height: 1.7rem;
}

.content-box {
  display: block;
  background: #fff;
  border-radius: 0;
  box-shadow: 0 2px 12px 6px hsla(0, 0%, 87%, 0.5);
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}
.content-box.popover {
  position: absolute;
  display: none;
  left: 200%;
  top: 0;
  cursor: auto;
  min-height: 10rem;
  max-height: auto;
  min-width: 25rem;
  border: 1px solid #ccc;
  margin-top: 0.2rem;
}
.content-box.popover.active {
  display: block;
  animation: fadeIn 0.5s;
}
.content-box.popover .popover-close {
  position: absolute;
  right: 0px;
  cursor: pointer;
  z-index: 10;
  border-radius: 0 0 0 30px;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
}
.content-box.popover .popover-close svg > path {
  fill: black;
}
.content-box .content-img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 4px;
}
.content-box .content-link {
  width: auto;
  height: auto;
  background-color: black;
  padding: 0.7em;
  color: white;
  border-radius: 0;
  border-color: black;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-size: 200% auto;
  transition: transform 0.2s ease-in-out;
}
.content-box .content-link:hover {
  transform: scale(1.1);
  background-image: linear-gradient(90deg, black 0%, #1a1a1a 30%, black 100%);
  animation: shine 0.5s forwards;
}
.content-box .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.content-box .nav .nav-prev,
.content-box .nav .nav-next {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, fill 0.3s ease-in-out;
}
.content-box .nav .nav-prev path,
.content-box .nav .nav-next path {
  fill: #d9d9d9;
  transition: fill 0.3s ease-in-out;
}
.content-box .nav .nav-prev:hover,
.content-box .nav .nav-next:hover {
  transform: scale(1.3);
}
.content-box .nav .nav-prev:hover path,
.content-box .nav .nav-next:hover path {
  animation: fillChange 0.3s forwards;
}
.content-box .nav .nav-prev:not(:hover),
.content-box .nav .nav-next:not(:hover) {
  transform: scale(1);
}

.info-item {
  display: none;
}
.info-item.active {
  display: block;
  padding: 0.5rem;
  animation: fadeIn 0.5s;
}

@media (min-width: 992px) {
  .content-box {
    margin-top: 0;
  }
}
@media (max-width: 991.98px) {
  .mark-icon {
    width: 2.2rem;
    height: 2.2rem;
  }
  .mark-icon.number {
    font-size: 1.5rem;
  }
  .mark-icon.icon {
    padding: 5px;
  }
  .img-container {
    width: 100%;
  }
  .content-box {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .mark-icon {
    width: 1.7rem;
    height: 1.7rem;
  }
  .mark-icon.number {
    font-size: 1rem;
  }
  .mark-icon.icon {
    padding: 10px;
  }
  .img-container {
    width: 100%;
  }
  .content-box {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .mark-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .mark-icon.number {
    font-size: 0.8rem;
  }
  .mark-icon.icon {
    padding: 15px;
  }
  .img-container {
    width: 100%;
  }
  .content-box {
    width: 100%;
  }
}

/*# sourceMappingURL=interactive-image.css.map */
