@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shine {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: calc(200px + 100%);
  }
}
@keyframes fillChange {
  from {
    fill: #f0f0f0;
  }
  to {
    fill: #101010;
  }
}
.vncInteractiveImageContainer .collapse {
  display: none;
}
.vncInteractiveImageContainer .collapse.show {
  display: block;
}
.vncInteractiveImageContainer .collapsing {
  transition: none;
}
.vncInteractiveImageContainer .svg-icon {
  transition: transform 200ms ease-in-out;
}
.vncInteractiveImageContainer .svg-icon:before {
  display: block;
  width: 100%;
  text-align: center;
  line-height: var(--input-height);
}
.vncInteractiveImageContainer .svg-icon.open {
  transform: rotate3d(0, 0, 1, 180deg);
}
.vncInteractiveImageContainer ul.dropdown-menu,
.vncInteractiveImageContainer ol.dropdown-menu {
  padding-left: 0 !important;
}
.vncInteractiveImageContainer .carousel-interactive-image .carousel-control-prev, .vncInteractiveImageContainer .carousel-interactive-image .carousel-control-next {
  top: 50%;
  bottom: auto;
  width: 3rem;
  margin-top: -1.5rem;
}
.vncInteractiveImageContainer .carousel-interactive-image .carousel-control-prev-icon, .vncInteractiveImageContainer .carousel-interactive-image .carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
}
.vncInteractiveImageContainer .carousel-interactive-image .carousel-control-prev {
  left: 1rem;
}
.vncInteractiveImageContainer .carousel-interactive-image .carousel-control-next {
  right: 1rem;
}
.vncInteractiveImageContainer .carousel-interactive-image .carousel-indicators {
  margin-bottom: 0;
  bottom: -2rem;
}
.vncInteractiveImageContainer .carousel-interactive-image .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.vncInteractiveImage a {
  text-decoration: none;
}
.vncInteractiveImage .fw-bold {
  font-weight: 600;
}
.vncInteractiveImage .outer-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vncInteractiveImage .image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}
.vncInteractiveImage .image-container.overflow-x {
  overflow-x: auto;
}
.vncInteractiveImage .image-container img.mark-icon {
  background-color: transparent !important;
  border: none;
}
.vncInteractiveImage .image-container img.mobile {
  min-height: 512px;
  height: 512px;
  width: auto;
  max-width: none;
}
.vncInteractiveImage .image-container.panning {
  cursor: grabbing;
}
.vncInteractiveImage .relative {
  position: relative;
}
.vncInteractiveImage[data-show-zoom="1"] .image-container {
  cursor: grab;
}
.vncInteractiveImage .zoom-controls {
  position: absolute;
  bottom: 10px;
  right: 28px;
  z-index: 999;
  gap: 5px;
}
.vncInteractiveImage .zoom-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-top: 8px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: 2px solid #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.vncInteractiveImage .zoom-controls button:hover {
  background-color: black;
}
.vncInteractiveImage .zoom-controls button:focus-visible {
  outline: 0.125rem solid var(--bs-highlight-color);
  outline-offset: 0.125rem;
}
.vncInteractiveImage .zoom-controls button i {
  font-size: 16px;
}
.vncInteractiveImage .img-fluid {
  display: block;
  width: 100%;
  height: auto;
  transform-origin: top left;
}
.vncInteractiveImage .zoomable-image {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
  transform-origin: 0 0;
  user-select: none;
  cursor: inherit;
}
.vncInteractiveImage .marks-container {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vncInteractiveImage .marks-container > button.mark > img.mark-icon {
  width: 100%;
  height: auto;
}
.vncInteractiveImage .marks-container .mark-title {
  position: absolute;
  top: 0.1875em;
  left: 50%;
  margin: 0;
  padding: 2px 8px 2px 25px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
  border: 1px solid #101010;
  background-color: #e0e0e0;
  font-size: 1rem;
  line-height: 38px;
  white-space: nowrap;
  transition: transform 0.2s ease;
  transform-origin: left;
  z-index: -1;
}
.vncInteractiveImage .marks-container .mark-title[data-position=left] {
  left: auto;
  right: 50%;
  padding: 2px 25px 2px 8px;
  border-top-left-radius: 21px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 0;
  transform-origin: right;
}
.vncInteractiveImage .mark {
  position: absolute;
  transform-origin: top left;
  transform: translate(calc(-50% - 1px), calc(-50% - 1px));
  background-color: transparent;
  cursor: pointer;
}
.vncInteractiveImage .mark-icon {
  width: 42px;
  height: 42px;
  color: #101010;
  border: 1px solid #101010;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  z-index: 1;
}
.vncInteractiveImage .mark-icon--number {
  padding: 10px 0;
  font-size: 28px;
  font-weight: 700;
}
.vncInteractiveImage .mark-icon--no-hover {
  transition: none;
  transform: none !important;
  background-color: #101010 !important;
}
.vncInteractiveImage .mark-icon--no-hover:hover {
  transform: none !important;
}
.vncInteractiveImage .mark:focus-visible {
  outline: 0.125rem solid var(--bs-highlight-color);
  outline-offset: 0.125rem;
}
.vncInteractiveImage .mark:hover .mark-icon {
  background-color: #c0c0c0;
  transform: scale(1.142857);
}
.vncInteractiveImage .mark:hover .mark-title {
  transform: scale(1.142857);
}
.vncInteractiveImage .mark.active > .mark-icon {
  background-color: #101010;
  color: #f0f0f0;
  border-color: #f0f0f0;
}
.vncInteractiveImage .mark.active > .mark-title {
  background-color: #101010;
  color: #f0f0f0;
  border-color: #f0f0f0;
}
.vncInteractiveImage .content-box {
  background: #f0f0f0;
  border-radius: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 20px;
}
.vncInteractiveImage .content-box h3 {
  font-size: 1.125rem;
  line-height: 1.3;
}
.vncInteractiveImage .content-box img.mark-icon {
  background-color: transparent !important;
}
.vncInteractiveImage .content-box .info-item {
  padding: 1rem;
}
.vncInteractiveImage .content-box__info {
  width: 100%;
  flex-shrink: 0;
  gap: 1rem;
}
.vncInteractiveImage .content-box__info i {
  background-color: #101010;
  color: #f0f0f0;
}
.vncInteractiveImage .content-box__info .mark-icon {
  flex: none;
  background-color: #101010;
  color: #f0f0f0;
  border-color: #f0f0f0;
}
.vncInteractiveImage .content-box__popover {
  position: absolute;
  display: none;
  overflow: hidden;
  padding: 1rem;
  cursor: auto;
  z-index: 10;
  width: 448px;
  height: auto;
  max-height: auto;
  font-size: 1rem;
}
.vncInteractiveImage .content-box__popover.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1000;
  animation: fadeIn 0.5s;
}
.vncInteractiveImage .content-box__popover.top {
  bottom: 10%;
}
.vncInteractiveImage .content-box__popover.bottom {
  top: 10%;
}
.vncInteractiveImage .content-box__popover.left {
  right: 100%;
}
.vncInteractiveImage .content-box__popover.right {
  left: 100%;
}
.vncInteractiveImage .content-box__popover h3 {
  flex: 1 1;
  margin-left: 0.5rem !important;
  text-align: left;
}
.vncInteractiveImage .content-box__popover .mark-icon {
  background-color: #101010;
  color: #f0f0f0;
  border-color: #f0f0f0;
}
.vncInteractiveImage .content-box__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}
.vncInteractiveImage .content-box__image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.vncInteractiveImage .content-box__link {
  display: inline-flex;
  padding: 13px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--02-Web-Black, #0f0f0f);
  color: white;
  transition: transform 0.2s ease-in-out;
}
.vncInteractiveImage .content-box__link:hover {
  transform: scale(1.02);
  animation: shine 0.5s forwards;
}
.vncInteractiveImage .content-box__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
}
.vncInteractiveImage .content-box__nav button:focus-visible {
  outline: 0.125rem solid var(--bs-highlight-color);
  outline-offset: 0.125rem;
}
.vncInteractiveImage .content-box__nav .nav-points {
  display: flex;
  align-items: center;
  gap: 2px;
}
.vncInteractiveImage .content-box__nav .nav-points .nav-point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin: 0 5px;
  cursor: pointer;
}
.vncInteractiveImage .content-box__nav .nav-points .nav-point:focus-visible {
  outline: 0.125rem solid var(--bs-highlight-color);
  outline-offset: 0.125rem;
}
.vncInteractiveImage .content-box__nav .nav-points .nav-point.active {
  scale: 1.5;
  background-color: #808080;
}
.vncInteractiveImage .content-box__nav .nav-prev,
.vncInteractiveImage .content-box__nav .nav-next {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, fill 0.3s ease-in-out;
}
.vncInteractiveImage .content-box__nav .nav-prev path,
.vncInteractiveImage .content-box__nav .nav-next path {
  fill: #f0f0f0;
  transition: fill 0.3s ease-in-out;
  padding: 6px 9.001px 6.001px 9px;
}
.vncInteractiveImage .content-box__nav .nav-prev:hover,
.vncInteractiveImage .content-box__nav .nav-next:hover {
  transform: scale(1);
}
.vncInteractiveImage .content-box__nav .nav-prev:hover path,
.vncInteractiveImage .content-box__nav .nav-next:hover path {
  animation: fillChange 0.3s forwards;
}
.vncInteractiveImage .content-box__nav .nav-prev:not(:hover),
.vncInteractiveImage .content-box__nav .nav-next:not(:hover) {
  transform: scale(1);
}
.vncInteractiveImage .content-box__close {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 10;
  padding: 12px 1rem 1rem 1rem;
  transition: transform 0.2s ease-in-out;
}
.vncInteractiveImage .content-box__close a {
  width: 32px;
  height: 42px;
  position: absolute;
  left: 0;
  top: 0;
}
.vncInteractiveImage .content-box__close a:focus-visible {
  outline: 0.125rem solid var(--bs-highlight-color);
  outline-offset: 0.125rem;
}
.vncInteractiveImage p {
  max-width: 100%;
  margin-bottom: 0 !important;
  line-break: auto;
}
.vncInteractiveImage .info-item {
  min-height: auto;
}
.vncInteractiveImage[data-layout=popover] .content-box__info {
  display: none !important;
}
.vncInteractiveImage[data-layout=popover] .content-box__nav {
  display: none;
}
@media (max-width: 1200px) {
  .vncInteractiveImage[data-layout=popover] .content-box__info {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .vncInteractiveImage[data-layout=popover] .content-box__info {
    display: flex !important;
  }
  .vncInteractiveImage[data-layout=popover] .content-box__popover {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .vncInteractiveImage[data-layout=popover] .content-box__info {
    display: flex !important;
  }
  .vncInteractiveImage[data-layout=popover] .content-box__popover {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .vncInteractiveImage[data-layout=popover] .content-box__info {
    display: flex !important;
  }
  .vncInteractiveImage[data-layout=popover] .content-box__popover {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .vncInteractiveImage .content-box__info {
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .vncInteractiveImage .content-box__popover__image {
    object-fit: scale-down;
  }
  .vncInteractiveImage .content-box__link {
    padding: 0.8em;
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .vncInteractiveImage .image-container {
    position: relative;
    width: 100%;
  }
  .vncInteractiveImage .content-box__popover {
    padding: 1.5rem;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    bottom: 0%;
  }
  .vncInteractiveImage .content-box__link {
    padding: 0.8em;
    font-size: 14px;
    text-align: center;
  }
  .vncInteractiveImage .content-box__close {
    padding: 1.5rem;
  }
  .vncInteractiveImage .content-box__close svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767.98px) {
  .vncInteractiveImage .content-box__popover {
    padding: 0.8rem;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    bottom: 0%;
  }
  .vncInteractiveImage .content-box__link {
    padding: 0.8em;
    font-size: 12px;
    text-align: center;
  }
  .vncInteractiveImage .content-box__close {
    padding: 0.5rem;
  }
  .vncInteractiveImage .content-box__close svg {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 575.98px) {
  .vncInteractiveImage .content-box__popover {
    padding: 0.4rem;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    bottom: 0%;
  }
  .vncInteractiveImage .content-box__link {
    padding: 0.6em;
    margin-top: 0.3rem;
    font-size: 12px;
    text-align: center;
  }
  .vncInteractiveImage .content-box__close {
    padding: 0.3rem;
  }
  .vncInteractiveImage .content-box__close svg {
    width: 25px;
    height: 25px;
  }
}

/*# sourceMappingURL=interactive-image.css.map */
