#setMarkerImageMap {
    position: relative;
    overflow: hidden;
    max-width: 1280px;
    margin: 0.5rem auto;
}

.set-marker-marker {
    width:40px;
    height:40px;
    background-color:#f00;
    position:absolute;
    border: 2px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    cursor: pointer;
    text-align: center;
    color: #fff;
}

.set-marker-marker[data-mark-hidden="true"] {
    opacity: 0.6;
}

.set-marker-marker .number {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.set-marker-marker img {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 40px;
    height: 40px;
}

.set-marker-marker i.icon {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
    left: 0px;
    top: 6px;
    text-align: center;
}

.set-marker-marker i.icon::before {
    width: 100%;
}
